.Schedule {
  color: var(--bs-light);
  background-color: #2d2d2d;
}



.row {
  background-color: var(--background) !important;
}

.show-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-dark) !important;
}

.border-left {
  border-left: 1px var(--primary) solid;
  border-radius: 0px px;
}

.text-rotate-left {
  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.border-right {

  border-right: 1px var(--primary) solid;
  
}
.semicircle-right {

  border-right: 1px var(--primary) solid;
  
}

.text-rotate-right {
  transform: rotate(90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.image-resize {
  width: 10rem !important;
  height: 7.5rem !important;
  overflow: hidden;
}