.Schedule {
  color: var(--bs-light);
  background-color: #2d2d2d;
}



.row {
  background-color: var(--background) !important;
}

.show-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;

  background-color: var(--bs-dark) !important;
}




.border-left {
  border-left: 1px var(--primary) solid;
  border-radius: 0px px;
}

.text-rotate-left {
  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.border-right {
  
  border-right: 1px var(--primary) solid;
  
}
.semicircle-top {

  border: 2px var(--primary) solid;

  border-radius: 50% 50% 50% 50%;
  
}

.transparent-background {
  background: transparent !important;
}

.circle-container {
  border: 2px var(--primary) solid;
  height: 150% !important;
  border-radius: 100% 150% 100% 100%;

}



.text-rotate-right {
  transform: rotate(90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.image-resize {
  width: 10rem !important;
  height: 7.5rem !important;
  overflow: hidden;
}

.equal-height-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

}
.table-wrapper {
  display: table !important;

}

.center-vertical-line {
  background: linear-gradient(var(--primary), var(--primary)) no-repeat center/2px 100%;
}
.table-cell-wrapper {
  display: table-cell !important;
  vertical-align: middle !important;
}

.equal-height-content {
  height: 100%;
  
}

.left-half,
.right-half {
  float: left;
  width: 40px;
  height: 80px;
  line-height: 80px;
  color: white;
  text-align: center;

  border: 2px var(--primary) solid;

}
.left-half {
  border-right: 0px;
}

.right-half {
  border-left: 0px;
}
.left-half:nth-child(1) {
  border-radius: 80px 0 0 80px;
}
.right-half:nth-child(1) {
  border-radius: 0 80px 80px 0;
}