/* Makes the footer "stick" to bottom if the content doesn't fill screen */
.Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
/* Styles text in footer */
.row {
    background-color: var(--bs-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9rem;
}